<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

   <bean id="example1" class="com.test.Example1">
       <property name="message" value="Hello World!"/>
   </bean>
   
   <bean id="example2" class="com.test.inside.Example2">
       <property name="message" value="Hello World!"/>
   </bean>
   
   <bean id="example3" class="com.test.inside.Example3">
       <property name="message" value="Hello World!"/>
   </bean>

</beans>