<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/jacorb/src/main/java/com/test/Server.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.test.Server"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="jacorb"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.endorsed.dirs=&quot;/Users/kveeresham/Documents/TechWork/corba/jacorb/jacorb-3.4/lib&quot; -Djacorb.home=/Users/kveeresham/Documents/TechWork/corba/jacorb/jacorb-3.4   -Dorg.omg.CORBA.ORBClass=org.jacorb.orb.ORB  -Dorg.omg.CORBA.ORBSingletonClass=org.jacorb.orb.ORBSingleton -Djacorb.codeset=on -Djacorb.native_char_codeset=UTF8 -Djacorb.codeset=on -Djacorb.native_wchar_codeset=UTF8"/>
</launchConfiguration>
